* {
  box-sizing: border-box;
}

h2 {
  color: black;
}

.full-width {
  width: 100%;
}

.header-title {
  text-align: center;
}

.header-title img {
  width: 400px;
  padding-top: 30px;
  padding-bottom: 30px;
}

/*Navbar*/

.navbar .navbar-nav {
  display: inline-block;
  float: none;
}

.navbar {
  text-align: center;
  margin-bottom: 0;
}

.navbar-nav > li > a {
  padding-bottom: 0;
}

.nav > li > a {
  padding-left: 40px;
  padding-right: 40px;
}

.sticky {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  /*border-top: 0;*/
}

/*End of Navbar*/

.main .row {
  padding-top: 50px;
  text-align: center;
}

.fancy {
  line-height: 0.25;
  text-align: center;
}

.fancy span {
  display: inline-block;
  position: relative;  
  color: rgba(69,78,92,0.5);
  font-family: 'sans-serif';
  font-size: 18px;
}

.fancy span:before,
.fancy span:after {
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: 1px solid rgba(69,78,92,0.5);
  /*border-top: 1px solid rgba(69,78,92,0.5);*/
  top: 0;
  width: 300px;
  z-index: -1;
}

.fancy span:before {
  right: 100%;
  margin-right: 15px;
}

.fancy span:after {
  left: 100%;
  margin-left: 15px;
}

.about-desc p {
  max-width: 800px;
  margin: 0 auto;
  padding: 18px;
  text-align: justify !important;
}

.tech-stack img {
  max-width: 600px;
}

/*Scroll*/

.scroll-column {
  padding: 0;
}

.scroll-wrapper {
  height: 500px;
  width: 300px;
  overflow: hidden;
}

.scroll-content {
  height: 100%;
  width: 315px;
  overflow: auto;
  overflow-x: hidden;
}

.scroll-content ul {
  padding: 0;
  list-style-type: none;
}

.scroll-up, .scroll-down {
  position: absolute;
  height: 30px;
  width: 300px;
  z-index: 500;
  /*border: solid red;*/
}

.scroll-up {
  background: linear-gradient(rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 90%);
}

.scroll-down {
  bottom: 0;
  /*background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 90%);*/
  margin-bottom: 10px;
}

/*End of Scroll*/

.students .container {
  margin: 0;
}

.student-hover {
  transition: all 0.5s;
  width: 300px;
  height: 120px;

  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
}

.student-hover:hover {
  transition: all 0.5s;
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  filter: grayscale(0%);
}

.student-view {
  max-height: 500px;
}

.desc-wrap p {
  min-height: 350px;
  text-align: justify;
  padding: 18px;
}

.links img {
  max-width: 3em;
}

.instructors img {
  max-height: 196px;
}

.instructors p {
  text-align: justify;
}