* {
  box-sizing: border-box;
}

header {
  height: 300px;
  padding-top: 50px;
  background: #f07057;
  text-align: center;
  margin-bottom: -52px;
}

/*Navbar*/

.navbar .navbar-nav {
  display: inline-block;
  float: none;
}

.navbar {
  text-align: center;
  margin-bottom: 0;
}

.sticky {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  border-top: 0;
}

/*End of Navbar*/

.main {
  background: #f2f2e8;
  padding: 110px 50px 50px;
  width: 100%;
}

/*Scroll*/

.scroll-img {
  width: 300px;
  height: 500px;
  overflow: hidden;
}
.scroll-img ul {
  width: 300px;
  height: 1440px;
  overflow: hidden;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.scroll-img ul li {
  width: 300px;
  height: 120px;
}

/*End of Scroll*/

.students .container {
  margin: 0;
}

.student-hover {
  transition: all 0.5s;
  width: 300px;
  height: 120px;

  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
}

.student-hover:hover {
  transition: all 0.5s;
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  filter: grayscale(0%);
}

.student-view {
  max-height: 500px;
}

.desc-wrap {
  min-height: 400px;
}


.links img {
  max-width: 3em;
}