.navbar .navbar-nav {
  display: inline-block;
  float: none;
}

.navbar {
  text-align: center;
}

.reel-container {
  height: 500px;
}

.reel {
  height: 100%;
  width: 100%;
  overflow: scroll;
}

.reel::-webkit-scrollbar {
  display: none;
}

.student-hover {
  transition: all 0.5s;
  width: 13em;
  height: 6em;

  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
}

.student-hover:hover {
  transition: all 0.5s;
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  filter: grayscale(0%);
}

.student-view {
  max-height: 500px;
}

.desc-wrap {
  min-height: 400px;
}


.links img {
  max-width: 3em;
}